.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
*.bat
*.py
*.sh
*.ps1
.agents
scratch/*.py
scratch
scratch/*
.env
.env.*
**/.env
**/.env.*
