.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# Ignore script files except .example templates
*.bat
*.py
*.sh
*.ps1
!*.example

.agents
scratch
scratch/*
.env
.env.*
**/.env
**/.env.*
private
templates
template-note.md
agent-guide.md
_index.md
